html {
  font-family: Helvetica, sans-serif;
  background-color: black;}

#frames h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

#frames h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#brushes h1 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: white;
  text-align: center;
  text-align: center;
}

#brushes h2 {
  font-family: Verdana;
  font-size: 21px;
  font-weight: bold;
  color: gray;
  text-align: center;
}

.footer {
  color: gray;
  text-align: right;
}
